In [1]:
import pandas as pd
import numpy as np

In [10]:
dataframe=pd.read_csv("car.csv")

In [11]:
dataframe.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
class       1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [13]:
dataframe["buying"].value_counts()

med      432
vhigh    432
high     432
low      432
Name: buying, dtype: int64

In [14]:
dataframe["maint"].value_counts()

med      432
vhigh    432
high     432
low      432
Name: maint, dtype: int64

In [15]:
dataframe["doors"].value_counts()

5more    432
2        432
3        432
4        432
Name: doors, dtype: int64

In [16]:
dataframe["persons"].value_counts()

2       576
more    576
4       576
Name: persons, dtype: int64

In [17]:
dataframe["lug_boot"].value_counts()

small    576
med      576
big      576
Name: lug_boot, dtype: int64

In [18]:
dataframe["safety"].value_counts()

med     576
high    576
low     576
Name: safety, dtype: int64

In [19]:
dataframe["class"].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [26]:
#suffle_index=np.random.permutation(1728)

In [28]:
#dataframe=dataframe[suffle_index]

In [31]:
#dataframe.apply(np.random.shuffle(dataframe.values),axis=0)

In [34]:
df=dataframe.iloc[np.random.permutation(len(dataframe))].reset_index(drop=True)

In [36]:
df.head()

  buying  maint  doors persons lug_boot safety  class
0    low  vhigh      4    more      med    med    acc
1    med  vhigh      3    more      big    med    acc
2    low  vhigh  5more       4      big    low  unacc
3    med    low      3       2      med    low  unacc
4    med    med  5more       4    small    med    acc

In [38]:
target=df.iloc[:,6]

In [39]:
target.head()

0      acc
1      acc
2    unacc
3    unacc
4      acc
Name: class, dtype: object

In [40]:
del df["class"]

In [41]:
data=pd.get_dummies(df,columns=["buying","maint","doors","persons","lug_boot","safety"])

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 21 columns):
buying_high       1728 non-null uint8
buying_low        1728 non-null uint8
buying_med        1728 non-null uint8
buying_vhigh      1728 non-null uint8
maint_high        1728 non-null uint8
maint_low         1728 non-null uint8
maint_med         1728 non-null uint8
maint_vhigh       1728 non-null uint8
doors_2           1728 non-null uint8
doors_3           1728 non-null uint8
doors_4           1728 non-null uint8
doors_5more       1728 non-null uint8
persons_2         1728 non-null uint8
persons_4         1728 non-null uint8
persons_more      1728 non-null uint8
lug_boot_big      1728 non-null uint8
lug_boot_med      1728 non-null uint8
lug_boot_small    1728 non-null uint8
safety_high       1728 non-null uint8
safety_low        1728 non-null uint8
safety_med        1728 non-null uint8
dtypes: uint8(21)
memory usage: 35.5 KB

In [43]:
#Encoding categorial data
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
target=le.fit_transform(target)

In [45]:
target=pd.DataFrame(target)

In [46]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 1 columns):
0    1728 non-null int64
dtypes: int64(1)
memory usage: 13.6 KB

In [47]:
target.head()

   0
0  0
1  0
2  2
3  2
4  0

In [49]:
X_train=data.iloc[:1000,:]

In [50]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
buying_high       1000 non-null uint8
buying_low        1000 non-null uint8
buying_med        1000 non-null uint8
buying_vhigh      1000 non-null uint8
maint_high        1000 non-null uint8
maint_low         1000 non-null uint8
maint_med         1000 non-null uint8
maint_vhigh       1000 non-null uint8
doors_2           1000 non-null uint8
doors_3           1000 non-null uint8
doors_4           1000 non-null uint8
doors_5more       1000 non-null uint8
persons_2         1000 non-null uint8
persons_4         1000 non-null uint8
persons_more      1000 non-null uint8
lug_boot_big      1000 non-null uint8
lug_boot_med      1000 non-null uint8
lug_boot_small    1000 non-null uint8
safety_high       1000 non-null uint8
safety_low        1000 non-null uint8
safety_med        1000 non-null uint8
dtypes: uint8(21)
memory usage: 20.6 KB

In [52]:
X_test=data.iloc[1000:,:]

In [53]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 1000 to 1727
Data columns (total 21 columns):
buying_high       728 non-null uint8
buying_low        728 non-null uint8
buying_med        728 non-null uint8
buying_vhigh      728 non-null uint8
maint_high        728 non-null uint8
maint_low         728 non-null uint8
maint_med         728 non-null uint8
maint_vhigh       728 non-null uint8
doors_2           728 non-null uint8
doors_3           728 non-null uint8
doors_4           728 non-null uint8
doors_5more       728 non-null uint8
persons_2         728 non-null uint8
persons_4         728 non-null uint8
persons_more      728 non-null uint8
lug_boot_big      728 non-null uint8
lug_boot_med      728 non-null uint8
lug_boot_small    728 non-null uint8
safety_high       728 non-null uint8
safety_low        728 non-null uint8
safety_med        728 non-null uint8
dtypes: uint8(21)
memory usage: 15.0 KB

In [55]:
y_train=target.iloc[:1000,:]

In [56]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
0    1000 non-null int64
dtypes: int64(1)
memory usage: 7.9 KB

In [57]:
y_test=target.iloc[1000:,:]

In [58]:
y_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 1000 to 1727
Data columns (total 1 columns):
0    728 non-null int64
dtypes: int64(1)
memory usage: 5.8 KB

In [59]:
#RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

In [60]:
cls1=RandomForestClassifier(n_estimators=20,criterion='entropy',random_state=0)

In [61]:
cls1.fit(X_train,y_train)

/home/kodecha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [64]:
y_pred=cls1.predict(X_test)

In [65]:
print("accuracy of testing set is: {:.3f}".format(cls1.score(X_test,y_test)))

accuracy of testing set is: 0.937

In [66]:
#confusion matrix
from sklearn.metrics import confusion_matrix

In [67]:
cm1=confusion_matrix(y_test,y_pred)

In [68]:
cm1

array([[141,   2,   8,   1],
       [ 14,  17,   1,   0],
       [ 15,   0, 497,   0],
       [  4,   1,   0,  27]])

In [69]:
#support vector machine
from sklearn.svm import SVC

In [70]:
cls2=SVC(kernel='linear',random_state=0)

In [71]:
cls2.fit(X_train,y_train)

/home/kodecha/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [72]:
print("accuracy of testing set is: {:.3f}".format(cls2.score(X_test,y_test)))

accuracy of testing set is: 0.926

In [73]:
#Decisiontreeclassifier
from sklearn.tree import DecisionTreeClassifier

In [74]:
cls3=DecisionTreeClassifier(criterion='entropy',random_state=0)

In [75]:
cls3.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [76]:
print("accuracy of testing set is: {:.3f}".format(cls3.score(X_test,y_test)))

accuracy of testing set is: 0.933